@media (prefers-reduced-motion: no-preference) {
    .image {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  @keyframes image-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }